@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham";
  src: url("../src/fonts/GothamRnd-Bold.otf") format("opentype");
}

/* @font-face {
  font-family: "Garamond";
  src: url("../src/fonts/GaramondPremrPro-Bd.otf") format("opentype");
} */

.form-checkbox {
  appearance: none;
  height: 1rem;
  width: 1rem;
  border: 1px solid #325c3e;
  background-color: transparent;
  cursor: pointer;
}

.form-checkbox:checked {
  background-color: #325c3e;
}

a {
  text-decoration: underline;
  text-underline-offset: 2;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #e6a69f;
  color: #325c3e;
  font-family: "Gotham", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}
/* .startpage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
} */

.animation {
  display: flex;
  overflow-y: scroll;
}

.animation::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  min-height: 150vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: -1;
}

.image {
  max-width: 90%;
}

.floating {
  animation: float 6s ease-in-out infinite;
}

.parallax {
  transform: translate(-50%, -50%);
}

/* RSVP */

.rsvp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 80%;
  height: 100vh;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex;
  min-width: 100%;
  animation: marquee 40s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Media Query for Mobile Devices */

@media only screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }

  .bottom-left,
  .bottom-right,
  .top-left,
  .top-right {
    font-size: 1rem;
  }
}
